

:root {

    --bg-primary-color: #000;
    --bg-fill-color: #fafafa;
    --bg-food-color: #cb2929;

    --text-primary-color: #fff;

    --font-1: "Share Tech", sans-serif;
    --font-2: "Bebas Neue", sans-serif;
    --font-3: "Outfit", sans-serif;


    // Spacing variables
    --space-xs: .25rem;
    --space-sm: .5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 2.5rem;
    --space-3xl: 4rem;

    // Border Radius
    --border-radius-xs: 2.5rem;
    --border-radius-sm: .5rem;
    --border-radius-md: 1rem;
    --border-radius-lg: 1.5rem;
    --border-radius-xl: 2rem;
    --border-radius-2xl: 2.5rem;
    --border-radius-3xl: 4rem;

    // Border Color
    --border-primary-color: #333;

    // Block height and width
    --block: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: var(--font-2);
}

main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}

nav{
    background-color: #333;
}
.content-body{
    background-color: #111;
    .suggested{
        background-color: #222;
    }
}
