@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  --bg-primary-color: #000;
  --bg-fill-color: #fafafa;
  --bg-food-color: #cb2929;
  --text-primary-color: #fff;
  --font-1: "Share Tech", sans-serif;
  --font-2: "Bebas Neue", sans-serif;
  --font-3: "Outfit", sans-serif;
  --space-xs: .25rem;
  --space-sm: .5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 2.5rem;
  --space-3xl: 4rem;
  --font-xs: .6rem;
  --font-sm: .75rem;
  --font-md: 1rem;
  --font-lg: 1.5rem;
  --font-xl: 2rem;
  --font-2xl: 2.5rem;
  --font-3xl: 4rem;
  --border-radius-xs: 2.5rem;
  --border-radius-sm: .5rem;
  --border-radius-md: 1rem;
  --border-radius-lg: 1.5rem;
  --border-radius-xl: 2rem;
  --border-radius-2xl: 2.5rem;
  --border-radius-3xl: 4rem;
  --border-primary-color: #333;
  --block: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
}

#loder-bar {
  height: 0.1rem;
  width: 0%;
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  position: absolute;
  top: 0;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.profile_img {
  height: 40px;
  width: 40px;
  background-image: url(https://images.unsplash.com/photo-1708572660179-ca6b1bc17be0?q=80&w=627&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  border-radius: var(--border-radius-2xl);
}

nav {
  display: grid;
  grid-template-rows: 0.5fr 7fr;
  background-color: var(--bg-primary-color);
  border-right: 1px solid rgba(255, 255, 255, 0.1098039216);
}
nav .logo {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-lg);
  display: flex;
  align-items: center;
  justify-content: start;
}
nav .logo svg {
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: start;
}
nav .elements {
  padding: var(--space-xs);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: sans-serif;
}
nav .elements ul {
  position: relative;
  z-index: 30;
}
nav .elements ul li {
  padding: 7px 10px;
  margin: 7px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-transform: capitalize;
  gap: var(--space-sm);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  z-index: 1;
}
nav .elements ul li:hover {
  background-color: #1a1a1a;
  scale: 1.01;
}
nav .elements ul li:active {
  scale: 0.995;
}
nav .elements ul li i {
  font-size: var(--font-md);
}
nav .elements ul li span {
  font-size: var(--font-sm);
}
nav .elements ul li ul {
  width: 60%;
  position: absolute;
  z-index: 20;
  background-color: #262626;
  border-radius: 0.5rem;
  cursor: default;
  padding: 0 0.2rem;
}
nav .elements ul li ul li {
  cursor: pointer;
  background-color: transparent;
  padding: 0.4rem;
  margin: 0.1rem;
  display: flex;
  justify-content: space-between;
}
nav .elements ul li ul li:hover {
  background-color: transparent;
  scale: 1;
}
nav .profile_img {
  height: 20px;
  width: 20px;
  background-image: url(https://images.unsplash.com/photo-1763013373779-19e259f95b41?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  border-radius: var(--border-radius-2xl);
}

.content-body .suggested {
  background-color: #222;
}

.align-bl {
  top: 100%;
  left: 0;
}

.align-tl {
  bottom: 100%;
  left: 0;
}

.a-up {
  animation: up_animation 0.35s cubic-bezier(0.46, 0.38, 0.36, 0.98) both 1;
}

@keyframes up_animation {
  0% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.a-down {
  animation: down_animation 0.35s cubic-bezier(0.46, 0.38, 0.36, 0.98) both 1;
}

@keyframes down_animation {
  0% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.dropdown {
  display: none;
}

.menu-2 .dropdown {
  width: 70%;
  position: absolute;
  z-index: 20;
  background-color: #262626;
  border-radius: 0.5rem;
  cursor: default;
  padding: 0.2rem;
}
.menu-2 .dropdown li {
  cursor: pointer;
  background-color: transparent;
  padding: 0.4rem;
  margin: 0.1rem;
  display: flex;
  justify-content: flex-end;
  flex-flow: row-reverse;
  gap: 1rem;
}
.menu-2 .dropdown li:hover {
  scale: 1;
  background-color: #262626;
}
.menu-2 .dropdown li .logout {
  padding: 10px 5px;
  margin: 10px;
}
.menu-2 .dropdown .thik {
  height: 0.5rem;
  width: 100%;
  opacity: 10%;
  background-color: #fff;
}
.menu-2 .dropdown .normal {
  opacity: 10%;
  background-color: #fff;
  margin: 5px;
}/*# sourceMappingURL=style.css.map */