@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



:root {

    --bg-primary-color: #000;
    --bg-fill-color: #fafafa;
    --bg-food-color: #cb2929;

    --text-primary-color: #fff;

    --font-1: "Share Tech", sans-serif;
    --font-2: "Bebas Neue", sans-serif;
    --font-3: "Outfit", sans-serif;


    // Spacing variables
    --space-xs: .25rem;
    --space-sm: .5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 2.5rem;
    --space-3xl: 4rem;

    // Font variables
    --font-xs: .6rem;
    --font-sm: .75rem;
    --font-md: 1rem;
    --font-lg: 1.5rem;
    --font-xl: 2rem;
    --font-2xl: 2.5rem;
    --font-3xl: 4rem;

    // Border Radius
    --border-radius-xs: 2.5rem;
    --border-radius-sm: .5rem;
    --border-radius-md: 1rem;
    --border-radius-lg: 1.5rem;
    --border-radius-xl: 2rem;
    --border-radius-2xl: 2.5rem;
    --border-radius-3xl: 4rem;

    // Border Color
    --border-primary-color: #333;

    // Block height and width
    --block: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::selection {
        background-color: transparent;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    // font-family: var(--font-2);
}

main {
    height: 100%;
    width: 100%;

    position: relative;
}

#loder-bar {
    height: .1rem;
    width: 0%;
    background: linear-gradient(45deg,
            #feda75,
            #fa7e1e,
            #d62976,
            #962fbf,
            #4f5bd5);
    position: absolute;
    top: 0;
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.profile_img {
    height: 40px;
    width: 40px;
    background-image: url(https://images.unsplash.com/photo-1708572660179-ca6b1bc17be0?q=80&w=627&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    border-radius: var(--border-radius-2xl);
}

nav {
    height: 100vh;
    width: 15vw;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: .5fr 7fr;
    background-color: var(--bg-primary-color);
    border-right: 1px solid #ffffff1c;

    .logo {
        padding-top: var(--space-xl);
        padding-bottom: var(--space-lg);
        display: flex;
        align-items: center;
        justify-content: start;

        svg {
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: start;
        }
    }

    .elements {
        padding: var(--space-xs);

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-family: sans-serif;

        ul {
            position: relative;

            z-index: 30;

            li {
                padding: 7px 10px;
                margin: 7px;
                display: flex;
                align-items: center;
                justify-content: start;
                text-transform: capitalize;
                gap: var(--space-sm);
                border-radius: 6px;
                cursor: pointer;
                transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                position: relative;
                z-index: 1;

                &:hover {
                    background-color: #1a1a1a;
                }



                i {

                    font-size: var(--font-md);
                }

                span {
                    font-size: var(--font-sm);
                }

                ul {

                    width: 60%;
                    position: absolute;
                    z-index: 20;
                    background-color: #262626;
                    border-radius: .5rem;
                    cursor: default;
                    padding: 0 .2rem;

                    li {
                        cursor: pointer;
                        // background-color: blue;
                        background-color: transparent;
                        padding: .4rem;
                        margin: .1rem;
                        display: flex;
                        justify-content: space-between;

                        &:hover {
                            background-color: transparent;
                            scale: 1;
                        }
                    }
                }
            }
        }
    }

    .profile_img {
        height: 20px;
        width: 20px;
        background-image: url(https://images.unsplash.com/photo-1763013373779-19e259f95b41?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-position: center;
        background-size: cover;
        border-radius: var(--border-radius-2xl);
    }
}

.align-bl {
    top: 100%;
    left: 0;
}

.align-tl {
    bottom: 100%;
    left: 0;
}




.a-up {
    animation: up_animation .35s cubic-bezier(.46, .38, .36, .98) both 1;
}

@keyframes up_animation {
    0% {
        transform: translate(0, -10px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.a-down {
    animation: down_animation .35s cubic-bezier(.46, .38, .36, .98) both 1;
}

@keyframes down_animation {
    0% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.dropdown {
    display: none;
}

.menu-2 .dropdown {
    width: 70%;
    position: absolute;
    z-index: 20;
    background-color: #262626;
    border-radius: .5rem;
    cursor: default;
    padding: .2rem;

    li {
        cursor: pointer;
        // background-color: blue;
        background-color: transparent;
        padding: .4rem;
        margin: .1rem;
        display: flex;
        justify-content: flex-end;
        flex-flow: row-reverse;
        gap: 1rem;

        &:hover {
            scale: 1;
            background-color: #262626;
        }

        .logout {
            padding: 10px 5px;
            margin: 10px;
        }
    }

    .thik {
        height: .5rem;
        width: 100%;
        opacity: 10%;
        background-color: #fff;
    }


    .normal {
        opacity: 10%;
        background-color: #fff;
        margin: 5px;
    }

}



.content-body {
    height: 100%;
    width: 100%;
    display: grid;
    right: 0;
    grid-template-columns: 1fr 2fr 1.5fr;
    font-family: var(--font-2);
    background-color: var(--bg-primary-color);

    #root {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

    }

    .suggested {
        width: 100%;
        background-color: var(--bg-primary-color);

        .suggested-contact {
            margin-top: 1rem;
            width: 300px;
            padding: 1rem 0;
            outline: 1px solid rgba(218, 218, 218, 0.1529411765);
            border-radius: var(--border-radius-sm);

            .tg-sug-c-1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 1rem 1rem;
                font-size: 12px;

                .seeAll {
                    cursor: pointer;
                }
            }

            .user {
                padding: 0 1.5rem;

                    margin: .4rem 0;
            }

            #audioData {
                color: #838383;
            }

            .img {
                height: 40px;
                width: 40px;
            }

            .data {
                .name {
                    font-size: 12px;
                    font-weight: 600;
                }
            }

            #follow {
                font-size: 12px;

            }
        }
    }
}


.story {
    display: flex;
    align-items: center;

    .forword,
    .backword {
        height: 30px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fafafa;
        border-radius: 50%;
        color: #000;
        cursor: pointer;
        display: none;
    }
}

.status {
    height: 13vh;
    width: 400px;
    background-color: var(--bg-primary-color);
    // background-color: green;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;


}

.story-friend {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:active {
        scale: .98;
    }



    .img {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        background-image: url(https://images.unsplash.com/photo-1708572660179-ca6b1bc17be0?q=80&w=627&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 2;
        outline: 3px solid var(--bg-primary-color);
    }

    .outline {
        height: 76px;
        width: 76px;
        content: "";
        position: absolute;
        border-radius: inherit;
        background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
        z-index: 1;
        transform: translate(0px, -6px);
        border-radius: 50%;
    }

    p {
        text-wrap: nowrap;
        font-size: 11px;
        font-family: var(--font-2);
        position: relative;
        margin-top: 8px;
        z-index: 2;

    }
}

#content {
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding: 0 8rem 10rem;
}

.card {

    background-color: transparent;

    .top {
        margin: 1rem 0 .75rem;
    }

    .video-img-post {
        height: 565px;
        width: 100%;
        position: relative;
        outline: 1px solid #dadada27;
        border-radius: var(--border-radius-sm);

        video {
            width: 100%;
            height: 100%;
            object-fit: contain;
            background: #000;
        }

        .volume {

            position: absolute;
            bottom: var(--space-md);
            right: var(--space-md);
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-direction: column;

            input {
                // height: 700px;
                width: 100px;
                transform: rotate(-90deg);
            }
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        gap: .5rem;
      

        .intraction {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem .7rem .2rem;

            .cell-1 {
                display: flex;
                align-items: center;
                gap: .5rem;

                i {
                    font-size: var(--font-md);
                    cursor: pointer;
                }
            }

            i {
                font-size: var(--font-md);
                cursor: pointer;
            }
        }

        .caption {
            display: flex;
            align-items: center;
            gap: .5rem;
    padding: 0 0.7rem;
            .name {
                font-size: 13px;
                font-size: 500;
            }

            i {
                color: #4c79ff;
            }

            #captionText {
                font-size: 12px;
            }
        }
    }
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .user_render {
        display: flex;
        justify-content: center;
        align-items: center;

        .img {
            margin-right: 10px;
            height: 35px;
            width: 35px;
          
            background-position: center;
            background-size: cover;
            border-radius: var(--border-radius-2xl);
            cursor: pointer;
        }

        .data {
            cursor: pointer;

            p {
                font-size: 12px;
                font-weight: 100;
                padding-top: 1px;
            }
        }

        .data>div {
            p {
                display: inline-block;
                font-size: 14px;
                font-weight: 500;

                i {
                    color: #4c79ff;
                }
            }

            span>span {
                    font-size: 12px;

            }
        }
    }

    .right-c {
        display: flex;
        gap: 10px;

        p {
            cursor: pointer;
            font-size: 14px;
            color: #505fff;
        }

        i {
            cursor: pointer;
        }
    }
}
.see{
    cursor: pointer;
}